@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Arial, Helvetica, sans-serif;
}

.cont-1 {

    background: url(./portfolio-final-bg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding: 20px;
}

.navigation-bar {
    margin: 20px;
    padding: 10px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    animation: 3s op ease 1 forwards;
}

@keyframes op {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.title-name {
    color: white;
    align-content: center;
    font-size: 23px;
}

.navs {
    align-content: center;

    color: white;

    padding: 20px;
}

.navs a {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    margin: 15px;


}


a:hover {
    border-bottom: 2px solid white;
}

.home {
    height: 70vh;
    width: 80vw;
    justify-self: center;
    display: flex;
    background: rgba(255, 255, 255, 0.05);
    flex-direction: row;
    margin-top: 50px;
    justify-content: space-between;
    border-radius: 50px;
    backdrop-filter: blur(9px);
    align-items: center;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6);
    padding: 10px;
    animation: 2s ease zoo 1 forwards;

}

@keyframes zoo {
    0% {
        transform: scale(0)
    }

    50% {
        transform: scale(1)
    }

    100% {
        transform: scale()
    }
}

.home-left {
    margin: 100px;
    width: 50%;
    justify-content: end;


}

.home-right {

    width: 50%;
    margin-right: 50px;

    margin-left: 0px;


}

.home-left h1 {
    display: flex;
    font-size: 40px;

    margin: 0%;

    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: white;
    text-align: justify;
    justify-self: start;
    animation: zoo 3.5s ease 1 forwards;

}

.home-left span {
    color: aquamarine;
    font-size: 50px;
    animation: zoo 3.5s ease 1 forwards;
}


@keyframes zoo {
    0% {
        transform: scale(0)
    }

    50% {
        transform: scale(1)
    }

    100% {
        transform: scale()
    }
}



@keyframes zoo {
    0% {
        transform: scale(0)
    }

    50% {
        transform: scale(1)
    }

    100% {
        transform: scale()
    }
}

.home-left p {
    color: white;
    font-size: 18px;
    margin: 6px;
    animation: 3s zoo ease-in-out 1 forwards;
}

@keyframes zoo {
    0% {
        transform: scale(0)
    }

    50% {
        transform: scale(1)
    }

    100% {
        transform: scale()
    }
}

.connect {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 20%;
    width: 30%;
    padding: 20px;
}

.connect-1 {
    margin: 8px;

}

.connect-1 a {
    text-decoration: none;
    border: none;
    outline: none;
}

.connect-1:hover {
    transform: scale(1.2);
    transition: .2s ease;
}

.image {

    display: flex;
    height: 460px;
    filter: drop-shadow(0px 0px 20px black);
    align-self: center;
    filter: brightness(79%);
    animation: 3s zoo ease-in-out 1 forwards;
    border: 0px solid black;
    border-bottom: 2.5px solid rgb(196, 189, 189);
    border-radius: 10% 50%;


}

@keyframes zoo {
    0% {
        transform: scale(0)
    }

    50% {
        transform: scale(1)
    }

    100% {
        transform: scale()
    }
}

.cont-2 {
    background-image: url(./cont-2-bg.avif);
    background-size: cover;
    background-position: center;
    filter: blur(50%);
    justify-content: center;
    height: 100vh;
    padding: 20px;

}

.head-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.sk-back-btns {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.sk-back-btns .bk-a {
    text-decoration: none;
    border: none;
}

.sk-back-btns:hover {
    transform: translateX(-20px);
    transition: 0.6s ease;
}

.back {
    font-size: 25px;
    color: black;
}




.skills h1 {
    color: black;
    font-weight: 300;
    text-shadow: 0px 0px 30px black inherit;
}

.skills-heading {
    margin-top: 10%;
    display: flex;
    font-size: 50px;
    align-items: end;
    padding: 2px 40px;
    justify-content: baseline;
    height: 10vh;
    font-weight: 300;
    color: black;
    margin-top: 30px;

}

hr {
    position: absolute;
    width: 10%;
    margin-top: 0;
    height: 5px;
    border-radius: 5px;
    background-color: black;
    margin-left: 30px;
    animation: 2s ease zoo 1 forwards;

}

@keyframes zoo {
    0% {
        transform: scale(0)
    }

    50% {
        transform: scale(1)
    }

    100% {
        transform: scale()
    }
}


.skills p {
    font-size: 17px;
    color: white;
}

.skill {
    height: 66vh;
    margin: 40px;
    margin-bottom: 0;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6);
    border-radius: 60px;
    backdrop-filter: blur(10px);
    width: 78%;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    animation: 2s ease zoo 1 forwards;
}

@keyframes zoo {
    0% {
        transform: scale(0)
    }

    50% {
        transform: scale(1)
    }

    100% {
        transform: scale()
    }
}

.skill p {
    color: white;
    text-align: center;
    font-size: 7.8px;


}

.bars {
    width: 80%;
    height: 0.5px;
    border-radius: 20px;
    border: 0.8px solid black;
    display: flex;
    justify-content: flex-start;
    margin-top: 8px;
    align-items: center;

}

.bars .p1 {
    background: linear-gradient(black, black);
    width: 68%;
    border-radius: 10px 10px;
    padding: 0;
    border: white;
    display: flex;
    justify-content: end;
    padding-right: 10px;
    animation: bar1 1.5s ease 1 forwards;
}

@keyframes bar1 {
    0% {
        width: 0%;
    }

    50% {
        width: 0%;
    }

    100% {
        width: 68%;
    }
}

.bars .p2 {
    background-color: black;
    width: 70%;
    border-radius: 10px 10px;
    padding: 0;
    border: white;
    display: flex;
    justify-content: end;
    padding-right: 10px;
    animation: bar2 1.5s ease 1 forwards;
}

@keyframes bar2 {
    0% {
        width: 0%;
    }

    50% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

.bars .p3 {
    background-color: black;
    width: 72%;
    border-radius: 10px 10px;
    padding: 0;
    border: white;
    display: flex;
    justify-content: end;
    padding-right: 7px;
    animation: bar3 1.5s ease 1 forwards;
}

@keyframes bar3 {
    0% {
        width: 0%;
    }

    50% {
        width: 0%;
    }

    100% {
        width: 72%;
    }
}

.bars .p4 {
    background-color: black;
    width: 76%;
    border-radius: 10px 10px;
    padding: 0;
    border: white;
    display: flex;
    justify-content: end;
    padding-right: 10px;
    animation: bar4 1.5s ease 1 forwards;
}

@keyframes bar4 {
    0% {
        width: 0%;
    }

    50% {
        width: 0%;
    }

    100% {
        width: 76%;
    }
}

.skills {
    color: white;
    text-align: center;
    margin: 12px;
    width: 300px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: 3.5s ease-in-out zoo 1 forwards;


}

@keyframes zoo {
    0% {
        transform: scale(0)
    }

    50% {
        transform: scale(1)
    }

    100% {
        transform: scale()
    }
}

.skill-icons {
    height: 60px;
    margin: 10px;
    filter: contrast(110%);

}

.skills:hover {
    font-size: 20px;
    transition: .7s ease;
    transform: ease scale(1.2);
}

.cont-3 {
    margin: 0;
    background: url(./con-bg2.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding: 0;
}

.head-cont3 {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.con-btns {
    display: flex;
    flex-direction: row;
    width: 10%;
    justify-self: center;
    justify-content: space-evenly;
    align-items: center;
}

.back-home {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.back-home .bk-a {
    text-decoration: none;
    outline: none;
    border: none;
}

.back-home:hover {
    transform: translateX(-15px);
    transition: 0.7s ease;
}

.btn-home {
    height: 30px;

}

.home-btn a {
    text-decoration: none;
    border: none;
    outline: none;
    text-decoration-skip: inherit;
}

.btn-home:hover {
    transform: scale(1.2);
    transition: 0.6s ease;
}


.con-heading p {

    display: flex;
    justify-content: center;
    top: 0;
    margin-bottom: 80px;
    font-size: 30px;
    color: black;
    font-weight: bold;
    justify-items: center;
    animation: 3.7s ease-in-out zoo 1 forwards;
}

@keyframes zoo {
    0% {
        transform: scale(0)
    }

    50% {
        transform: scale(1)
    }

    100% {
        transform: scale()
    }
}

.con-name {
    font-size: 30px;
    font-weight: bold;
}

.con-headname {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    font-weight: 300;
}

.con-label {
    font-size: 40px;
    color: black;
    padding-right: 9px;
}

.con-heading,
p {
    color: white;
}

.con-forms {
    height: 80VH;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forms {
    height: 80vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.6);
    padding: 170px;
    border-radius: 50px;
    backdrop-filter: blur(9px);
    animation: 2.5s ease-in-out zoo 1 forwards;
    justify-self: center;
}

@keyframes zoo {
    0% {
        transform: scale(0)
    }

    50% {
        transform: scale(1)
    }

    100% {
        transform: scale()
    }
}


input {
    margin: 20px;
    background: transparent;
    border: none;
    align-self: center;
    outline: none;
    border-bottom: 1.5px solid black;
    width: 110%;
    font-size: 15px;

}

input:hover {
    transform: scale(1.1);
    transition: .6s ease;
}

input:active {
    transform: scale(1.5);
}

.formns,
input::placeholder {
    color: black;
    font-weight: 400;
    font-size: 15px;

}

.type-gen,
label {
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 13px;
    color: black;
}

input[type=radio] {
    height: 9px;
    margin: 4px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.btn-submit {
    outline: none;
    background: transparent;
    padding: 10px;
    width: 100%;
    border: none;
    font-size: 15px;
    font-weight: bold;
}

.btn-submit:hover {
    transform: scale(1.2);
    transition: .5s ease;
}

.btn .btn-a {
    border: none;
    text-decoration: none;
    transition: none;
}

.socials {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.logos {
    height: 30px;
    text-decoration: none;
    animation: 3.7s ease-in-out zoo 1 forwards;

}

@keyframes zoo {
    0% {
        transform: scale(0)
    }

    50% {
        transform: scale(1)
    }

    100% {
        transform: scale()
    }
}

.socials a {
    text-decoration: none;
    border: none;
}

.logo-sec:hover {
    transform: scale(1.1);
    transition: .2s ease;
}

.logo-p {
    color: black;
    margin: 10px;
    font-size: 14px;
    animation: 3.7s ease-in-out zoo 1 forwards;
}

@keyframes zoo {
    0% {
        transform: scale(0)
    }

    50% {
        transform: scale(1)
    }

    100% {
        transform: scale()
    }
}